*{
    font-family: 'Kanit', sans-serif;
    user-select: none;
    cursor: url('../img/cursor.png'), auto;
}
body{
    background-image: url(../img/3501759.png);
    
    font-size: larger;
    
}
#cursor{
    cursor: url('./res/img/cursorlol.jpg'), auto;
}
.cursor{
    cursor: url('./res/img/cursorlol.jpg'), auto;
}
#cookie {
    max-width: 20%;
    width: 100%;
    cursor: url('./res/img/cursorlol.jpg'), auto;
    margin: 0 auto;
    background-color: transparent;
}

#counter{
    font-size: 30px;
}


#teemo{
    margin-top: 50px
}



@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


#upgradeClickButton{
    border: none;
    margin-left: 10%;
    /* transition: .2sec ease; */
    background-color: transparent;
    cursor: url('./res/img/cursorlol.jpg'), auto;
}
#upgradeAutoClickButton{
    cursor: url('./res/img/cursorlol.jpg'), auto;
    border: none;
    transition: .2sec ease;
    font-size: larger;
    background-color: transparent;
    margin-top: 2px;
}


#upgradeClickButtonWrapper{
    border: 6px solid black;
    width: 30%;
    cursor: url('./res/img/cursorlol.jpg'), auto;
    margin: auto;
    height: 75px;
    transition: 0.5s ease ;
    background-color: rgb(48, 169, 48);
}
#upgradeClickButtonWrapper:hover{
    transform: scale(1.3);
}

#upgradeAutoClickButtonWrapper{
    border: 6px solid black;
    width: 30%;
    cursor: url('./res/img/cursorlol.jpg'), auto;
    margin: auto;
    margin-top: 10px;
    height: 344px;
    transition: 0.5s ease ;
    background-color: rgb(100, 176, 215);
    /* padding-top: 1%; */
}
#upgradeAutoClickButtonWrapper:hover{
    transform: scale(1.3);
}
.upgradeImg{
    max-width: 75px;
    cursor: url('./res/img/cursorlol.jpg'), auto;
    padding-top: 15%;

}
#upgrade{
    float: right;
    padding-right: 30%;
    padding-top: 3%;
    background-color: rgb(100, 176, 215);
    height: auto;
    font-size: 20px;
    
}


.center{
    align-items: center;
    text-align: center;
}
.nasus{
    width: 100%;
    height: 300px;
}
/* #upgradeClickButton:hover{

    transform: scale(1.3);
} */