*{
    font-family: 'Kanit', sans-serif;
    user-select: none;
    cursor: url('../img/cursor.png'), auto;
    
}
body{
    background-image: url(../img/3501759.png);
    
    font-size: larger;
    
}
#cursor{
    cursor: url('../img/cursorlol.jpg'), auto;
    width: 20%;
}
#cursor2{
    cursor: url('../img/cursorlol.jpg'), auto;
    
}

.cursor{
    cursor: url('../img/cursorlol.jpg'), auto;

}
#cookie {
    max-width: 20%;
    width: 100%;
    cursor: url('../img/cursorlol.jpg'), auto;
    margin: 0 auto;
    background-color: transparent;
    transition: 0.5s ease ;
}
#cookie:hover{
    transform: scale(1.3);
}

#counter{
    font-size: 30px;
    margin-top: 10px;
}


#teemo{
    margin-top: 50px
}



@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


#upgradeClickButton{
    border: none;
    margin-left: 10%;
    /* transition: .2sec ease; */
    background-color: transparent;
    cursor: url('../img/cursorlol.jpg'), auto;
    padding-left: 20%;
}
#upgradeAutoClickButton{
    cursor: url('../img/cursorlol.jpg'), auto;
    border: none;
    font-size: larger;
    background-color: transparent;
    margin-top: 2px;
}


#upgradeClickButtonWrapper{
    border: 6px solid black;
    border-radius: 10px;
    width: 30%;
    cursor: url('../img/cursorlol.jpg'), auto;
    margin: auto;
    height: 75px;
    transition: 0.5s ease ;
    background-color: rgb(100, 176, 215);
}
#upgradeClickButtonWrapper:hover{
    transform: scale(1.3);
}

#upgradeAutoClickButtonWrapper{
    border: 6px solid black;
    border-radius: 10px;
    width: 30%;
    cursor: url('../img/cursorlol.jpg'), auto;
    margin: auto;
    margin-top: 10px;
    height: 344px;
    transition: 0.5s ease ;
    background-color: rgb(100, 176, 215);
    /* padding-top: 1%; */
}

#upgradeAutoClickButtonWrapper:hover{
    transform: scale(1.3);
}
.upgradeImg{
    padding-top: 10%;
    cursor: url('../img/cursorlol.jpg'), auto;
    height: 90%;
    margin-left: 40%;
}
.upgradeImg2{
    padding-top: 10%;
    cursor: url('../img/cursorlol.jpg'), auto;
    height: 90%;
    margin-right: 40%;
    float: right;
}
#upgrade{
    float: right;
    padding-right: 17%;
    padding-top: 3%;
    background-color: rgb(100, 176, 215);
    height: 80%;
    font-size: 20px;
    width: 60%;
    
}


.center{
    align-items: center;
    text-align: center;
}
.nasus{
    width: 100%;
    height: 300px;
}


@media only screen and (max-width: 1600px){
    #upgradeClickButtonWrapper{
        width: 45%;
    }
    #upgradeAutoClickButtonWrapper{
        width: 45%;
    }
}
@media only screen and (max-width: 964px){
    #upgradeClickButtonWrapper{
        
        width: 100%;
    }
    #upgradeAutoClickButtonWrapper{
        width: 60%;
    }
    #cookie{
        max-width: 50%;
    }
    #upgradeClickButtonWrapper:hover{
        transform: scale(1);
    }
    #upgradeAutoClickButtonWrapper:hover{
        transform: scale(1);
    }
}
@media only screen and (max-width: 700px){
    #upgradeAutoClickButtonWrapper{
        width: 100%;
    }
}